.e-about {
	&__content {
		padding: 8% 5%;
		@include flex;
		background: $cor-preto;
		@media #{$mobile} {
			flex-wrap: wrap;
		}
		&__left {
			width: 50%;
			@include flex;
			flex-direction: column;
			font-size: 24px;
			color: $cor-padrao;
			font-weight: 900;
			line-height: 36px;
			@media #{$mobile} {
				width: 100%;
				margin-bottom: 50px;
			}
			img {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				margin-bottom: 20px;
			}
			p {
				color: $cor-branco;
				font-weight: 500;
				font-size: 18px;
			}
		}
		&__right {
			width: 50%;
			min-height: 300px;
			@media #{$mobile} {
				width: 100%;
				margin-bottom: 50px;
			}
			> span {
				@include flex;
				justify-content: center;
				color: $cor-padrao;
				text-transform: uppercase;
				font-weight: 900;
				margin-bottom: 30px;
				font-size: 24px;
			}
			p {
				color: $cor-branco;
				line-height: 27px;
				font-size: 18px;
				padding: 0 5%;
				font-weight: 100;
				a {
					text-decoration: none;
					color: $cor-padrao;
					font-weight: 900;
				}
				span {
					font-weight: 900;
					color: $cor-padrao;
				}
			}
		}
	}
}
