.e-tecnology {
  &__content {
    margin: 50px 5%;
    > p {
      color: $cor-padrao;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      margin: 60px 0;
      font-size: 24px;
    }
    &__list {
      @include flex;
      &__item {
        @include flex;
        flex-direction: column;
        width: 14%;
        &:not(:last-child){
            margin-right: 20px;
        }
        &__title {
            margin: 20px 0;
            color: $cor-preto;
            font-weight: 700;
        }
        p{
            text-align: center;
            color: $cor-auxiliar;
            min-height: 120px;
            line-height: 20px;
            font-size: 14px;
            strong{
              font-weight: 900;
            }
        }
      }
    }
  }
}
