.e-tecnology {
  &__content {
    margin: 5% 0;
    width: 100%;
    float: left;
    position: relative;
    @media #{$mobile}{
      margin: 20% 0;
    }
    > p {
      color: $cor-padrao;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      margin-bottom: 5%;
      font-size: 24px;
      @media #{$mobile}{
        font-size: 20px;
      }
    }
    &__list {
      @include flex;
      width: 100%;
      float: left;
      position: relative;
      .slick-arrow {
        font-size: 0;
        cursor: pointer;
        &.slick-prev {
          &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            left: 10px;
            transform: rotate(-45deg);
            text-align: center;
            margin-left: 5px;
            border-left: 1px solid #696969;
            border-top: 1px solid #696969;
          }
        }
        &.slick-next {
          &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            right: 10px;
            transform: rotate(45deg);
            text-align: center;
            margin-right: 5px;
            border-right: 1px solid #696969;
            border-top: 1px solid #696969;
          }
        }
      }
      .slick-list {
        width: 95%;
        float: left;
        overflow: hidden;
        position: relative;
        display: flex;
        @media #{$mobile}{
          width: 80%;
        }
        .slick-track {
          position: relative;
          display: flex;
          top: 0;
          left: 0;
        }
      }
      &__item {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        position: relative;
        display: flex;
        float: left;
        height: 100%;
        min-height: 1px;
        margin-right: 20px;
        &__title {
            margin: 20px 0;
            color: $cor-preto;
            font-weight: 700;
        }
        p{
            text-align: center;
            color: $cor-auxiliar;
            min-height: 120px;
            line-height: 20px;
            font-size: 16px;
            @media #{$mobile}{
              min-height: initial;
            }
            strong{
              font-weight: 900;
            }
        }
      }
    }
  }
}
